html,
body {
    &.dark-theme {
        background-color: $darkColor;
        color: $lightColor;

        h3 {
            color: $lightColor;
        }

        blockquote {
            color: $monokaiRedDarkMode;
            border-left: 4px solid rgba(255, 255, 255, 0.5);
        }

        a {
            color: $lightColor;
            z-index: 10;
            transition: 0.4s;
            // &:hover {
            //     filter: brightness(100%)
            // }
            
          }
          
          a:hover,
          a:focus {
            background-size: 0 0.1em, 100% 0.1em;
            cursor: pointer;
          }

          // white font:
          a h3.whiteFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $lightColor;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a h3.whiteFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a h3.whiteFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a h3.whiteFont:hover::after,
          a h3.whiteFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

          // monokai red cool links
          a span.monokaiRedFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $monokaiRedDarkMode;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a span.monokaiRedFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a span.monokaiRedFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a span.monokaiRedFont:hover::after,
          a span.monokaiRedFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

          // monokai red h2 cool links
          a h2.monokaiRedFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $monokaiRedDarkMode;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a h2.monokaiRedFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a h2.monokaiRedFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a h2.monokaiRedFont:hover::after,
          a h2.monokaiRedFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

          // monokai orange
          a span.monokaiOrangeFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $monokaiOrangeDarkMode;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a span.monokaiOrangeFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a span.monokaiOrangeFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a span.monokaiOrangeFont:hover::after,
          a span.monokaiOrangeFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

          // monokai yellow
          a span.monokaiYellowFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $monokaiYellowDarkMode;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a span.monokaiYellowFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a span.monokaiYellowFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a span.monokaiYellowFont:hover::after,
          a span.monokaiYellowFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

          // monokai green
          a span.monokaiGreenFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $monokaiGreenDarkMode;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a span.monokaiGreenFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a span.monokaiGreenFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a span.monokaiGreenFont:hover::after,
          a span.monokaiGreenFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

          // monokai blue
          a span.monokaiBlueFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $monokaiBlueDarkMode;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a span.monokaiBlueFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a span.monokaiBlueFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a span.monokaiBlueFont:hover::after,
          a span.monokaiBlueFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

          // monokai pink
          a span.monokaiPinkFont::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $monokaiPinkDarkMode;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          a span.monokaiPinkFont {
            overflow: hidden;
            display: block;
            position: relative;
          }
          
          a span.monokaiPinkFont::after {
            opacity: 1;
            transform: translate3d(-101%, 0, 0);
          }
          
          a span.monokaiPinkFont:hover::after,
          a span.monokaiPinkFont:focus::after{
            transform: translate3d(0, 0, 0);
          }

        table,
        th,
        td {
            border: 1px solid $lightColor;
        }

    }
}

@keyframes underline-gradient { 
    0%{
      transform: translate3d(0%, 0%, 0);
    }
    100%{
      transform: translate3d(-75%, 0%, 0);
    }
  }