strong > code {
    font-size: 1rem !important;
}

.dark-theme, .outrun-theme {
    // make those prism styles WCAG compliant!
    span.token.delimiter.important {
        color: $monokaiRedDarkMode !important;
    }

    span.token.keyword {
        color: $monokaiRedDarkMode !important;
    }

    span.token.comment {
        color: #92927c !important;
    }

    span.token.string,
    span.token.tag {
        color: #ff79c6 !important;
    }

    span.token.punctuation,
    span.token.class-name,
    span.token.operator {
        color: $monokaiBlueDarkMode !important;
    }

    code {
        color: $monokaiBlueDarkMode !important;
    }

    code.typescript {
        color: $monokaiBlueDarkMode !important;
    }

    code.javascript {
        color: $javaScriptYellow !important;
    }

    span.token.function {
        color: $monokaiYellowDarkMode !important;
    }
}

.light-theme, .black-white-theme {
    span.token.delimiter.important {
        font-weight: bold !important;
    }

    code.typescript {
        color: $typeScriptBlue !important;
    }

    code.javascript {
        color: $monokaiYellowLightMode !important;
    }
}