// base dark and light colors
$darkColor: #191919;
$lightColor: #ffffff;

// monokai dark theme colors
$monokaiRedDarkMode: #f92672;
$monokaiGreenDarkMode: #27dea7;
$monokaiBlueDarkMode: #62d3e9;
$monokaiYellowDarkMode: #f7d163;
$monokaiOrangeDarkMode: #fd9720;
$monokaiPinkDarkMode: #fd5ff0;

$codeLineAddedDarkMode: #093b2c;

// monokai light theme colors
$monokaiRedLightMode: #e70457;
$monokaiGreenLightMode: #168362;
$monokaiBlueLightMode: #157e93;
$monokaiYellowLightMode: #8e6c06;
$monokaiOrangeLightMode: #b15f02;
$monokaiPinkLightMode: #d402c3;

$codeLineAddedLightMode: #dbfff4;

// outrun theme colors
$outrunOrange: #ff9928;
$outrunLightOrange: #ffdcb5;
$outrunLightPink: #ff80a6;
$outrunPink: #ff467d;
$outrunLightPurple: #f585ff;
$outrunPurple: #d023df;
$outrunDarkPurple: #201138;

$codeLineAddedOutrunMode: #093b2c;

// black white theme colors

// this is the "middle" gray ie. RGB 128,128,128
$blackWhiteGray: #808080;
$blackWhiteLightGray: #BCBCBC;

$codeLineAddedBlackWhiteMode: #dbfff4;


// for javascript / typescript toggler
$typeScriptBlue: #2f74c0;
$javaScriptYellow: #efd81c;

// some color utils for all color modes
.dark-theme {
    // fills
    .fillMonokaiBlue {
        fill: $monokaiBlueDarkMode;
    }

    .fillMonokaiYellow {
        fill: $monokaiYellowDarkMode;
    }

    .fillMonokaiOrange {
        fill: $monokaiOrangeDarkMode;
    }

    .fillMonokaiRed {
        fill: $monokaiRedDarkMode;
    }

    .fillMonokaiPink {
        fill: $monokaiPinkDarkMode;
    }

    // fonts
    .monokaiRedFont {
        color: $monokaiRedDarkMode;
        font-weight: 900;
    }
    .monokaiBlueFont {
        color: $monokaiBlueDarkMode;
        font-weight: 900;
    }

    .monokaiOrangeFont {
        color: $monokaiOrangeDarkMode;
        font-weight: 900;
    }

    .monokaiGreenFont {
        color: $monokaiGreenDarkMode;
        font-weight: 900;
    }

    .monokaiYellowFont {
        color: $monokaiYellowDarkMode;
        font-weight: 900;
    }

    .monokaiPinkFont {
        color: $monokaiPinkDarkMode;
        font-weight: 900;
    }
}

.light-theme {
    // fills
    .fillMonokaiBlue {
        fill: $monokaiBlueLightMode;
    }

    .fillMonokaiYellow {
        fill: $monokaiYellowLightMode;
    }

    .fillMonokaiOrange {
        fill: $monokaiOrangeLightMode;
    }

    .fillMonokaiRed {
        fill: $monokaiRedLightMode;
    }

    .fillMonokaiPink {
        fill: $monokaiPinkLightMode;
    }
    // fonts
    .monokaiRedFont {
        color: $monokaiRedLightMode;
        font-weight: 900;
    }
    .monokaiBlueFont {
        color: $monokaiBlueLightMode;
        font-weight: 900;
    }

    .monokaiOrangeFont {
        color: $monokaiOrangeLightMode;
        font-weight: 900;
    }

    .monokaiGreenFont {
        color: $monokaiGreenLightMode;
        font-weight: 900;
    }

    .monokaiYellowFont {
        color: $monokaiYellowLightMode;
        font-weight: 900;
    }

    .monokaiPinkFont {
        color: $monokaiPinkLightMode;
        font-weight: 900;
    }
}

.outrun-theme {
    // fills
    .fillOutrunOrange {
        fill: $outrunOrange;
    }

    .fillOutrunPink {
        fill: $outrunPink;
    }

    .fillOutrunPurple {
        fill: $outrunPurple;
    }

    // fonts
    .outrunOrangeFont {
        color: $outrunLightOrange;
        font-weight: 900;
        text-shadow: 0 0 5px $outrunLightOrange, 0 0 10px $outrunLightOrange,
            0 0 15px $outrunLightOrange, 0 0 25px $outrunOrange;
    }
    .outrunPinkFont {
        color: $outrunLightPink;
        font-weight: 900;
        text-shadow: 0 0 5px $outrunLightPink, 0 0 10px $outrunLightPink,
            0 0 15px $outrunLightPink, 0 0 25px $outrunPink;
    }
    .outrunPurpleFont {
        color: $outrunLightPurple;
        font-weight: 900;
        text-shadow: 0 0 5px $outrunLightPurple, 0 0 10px $outrunLightPurple,
            0 0 15px $outrunLightPurple, 0 0 25px $outrunPurple;
    }
}

.black-white-theme {
    // fills
    .fillBlack {
        fill: $darkColor;
    }

    .fillGray {
        fill: $blackWhiteGray;
    }

    .fillWhite {
        fill: $lightColor;
    }

    // fonts
    .blackFont {
        color: $darkColor;
        font-weight: 900;
    }

    .grayFont {
        color: $blackWhiteGray;
        font-weight: 900;
    }

    .lightGrayFont {
        color: $blackWhiteLightGray;
        font-weight: 900;
    }

    .whiteFont {
        color: $lightColor;
        font-weight: 900;
    }
}

.typescript {
    color: $typeScriptBlue;
}

.javascript {
    color: $javaScriptYellow;
}
