.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .email-label {
        font-family: "CooperBlackRegular";
        font-weight: 500;
        font-size: 2rem;
    }

    .email-input {
        width: 250px;
        height: 40px;
        padding: 0.5rem;
        margin: 0.5rem;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .submit-button {
        width: 250px;
        height: 40px;
        margin-bottom: 0.5rem;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: "CooperBlackRegular";
        font-weight: 500;
        font-size: 1.25rem;
        cursor: pointer;
        transition: 0.4s !important;
    }
}

.dark-theme {
    .submit-button {
        background-color: $monokaiRedDarkMode !important;
        color: $darkColor;
        &:hover {
            background-color: $monokaiGreenDarkMode !important;
        }
    }
}

.light-theme {
    .submit-button {
        background-color: $monokaiRedLightMode !important;
        color: $lightColor;
        &:hover {
            background-color: $monokaiGreenLightMode !important;
        }
    }
    .email-input {
        border: 1px solid $blackWhiteGray;
    }
}

.outrun-theme {
    .submit-button {
        background-color: $outrunPink !important;
        color: $outrunDarkPurple;
    }
}

.black-white-theme {
    .submit-button {
        background-color: $blackWhiteGray !important;
        color: $lightColor;
    }
}

