@font-face {
    font-family: "Fira Code", monospace;
    src: url("../assets/fonts/FiraCode-VariableFont_wght.ttf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Black.ttf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-display: swap;
}

html,
body {
    font-family: "Roboto";
    font-size: 21px;

    h1 {
        font-size: 2rem;
        &.big {
            font-size: 3rem;
            padding: 3rem;
        }
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    // small screens, make big a bit smaller
    // small styles (width less than 600px)
    @media only screen and (max-width: $mediumOffset) {
        h1 {
            &.big {
                font-size: 1.5rem;
            }
        }
        h2 {
            font-size: 1.1rem;
        }

        h3 {
            font-size: 1rem;
        }
    }
}
