@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "Fira Code", monospace;
    src: url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap);
    font-display: swap;
}

html,
body {
    font-family: "Roboto";
    font-size: 21px;

    h1 {
        font-size: 2rem;
        &.big {
            font-size: 3rem;
            padding: 3rem;
        }
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    // small screens, make big a bit smaller
    // small styles (width less than 600px)
    @media only screen and (max-width: $mediumOffset) {
        h1 {
            &.big {
                font-size: 1.5rem;
            }
        }
        h2 {
            font-size: 1.1rem;
        }

        h3 {
            font-size: 1rem;
        }
    }
}
