$darkColor: #191919 !default;
$lightColor: white !default;
$monokaiRedDarkMode: #f92672 !default;
$monokaiRedLightMode: #e70457 !default;

.dark-theme .highlight {
    animation: highlightAndFadeDark 2s 1;
}

.light-theme .highlight {
    animation: highlightAndFadeLight 2s 1;
}

@keyframes highlightAndFadeDark {
    from {
        background-color: $monokaiRedDarkMode;
    }
    to {
        background-color: $darkColor;
    }
}

@keyframes highlightAndFadeLight {
    from {
        background-color: $monokaiRedLightMode;
    }
    to {
        background-color: $lightColor;
    }
}