footer {
    margin-top: -$borderThickness;
    position: relative;
    z-index: 10;
    font-weight: bold;
    border: $borderThickness dashed;
    padding: 0.5rem;
    box-sizing: border-box;
}

.inner-footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

// large screens (width greater than 1400px)
@media only screen and (min-width: $large) {
    footer {
        width: 100%;
    }
}

// medium screens (width less than 1400px but greater than 600px)
@media only screen and (max-width: $largeOffset) and (min-width: $medium) {
    footer {
        width: calc(100% - #{$navWidthMedium} + #{$borderThickness});
        margin-left: calc(#{$navWidthMedium} - #{$borderThickness});
    }
}

// small styles (width less than 600px)
@media only screen and (max-width: $mediumOffset) {
    footer {
        width: calc(100%);
        padding-left: calc(#{$navWidthSmall});
    }
    .inner-footer-wrapper {
        padding-left: $borderThickness;
    }
}

// // mobile styles
// @media only screen and (max-width: $medium) {
//     // two left and write flex divs should go to full width in the footer in widths less than 720px
//     footer > div {
//         flex: 0 0 100%;
//         font-size: 0.6rem;
//         text-align: center;
//     }

//     footer > :nth-child(2) {
//         float: none;
//         margin-top: 2rem;

//         & > span {
//             float: none;
//         }

//         & > img {
//             float: none;
//             margin-right: 0;
//         }
//     }
// }

.dark-theme footer {
    background-color: $darkColor;
    border-left-color: $monokaiRedDarkMode;
    border-bottom-color: $monokaiBlueDarkMode;
    border-right-color: $monokaiYellowDarkMode;
    border-top-color: $monokaiGreenDarkMode;
}

.light-theme footer {
    background-color: $lightColor;
    border-left-color: $monokaiRedLightMode;
    border-bottom-color: $monokaiBlueLightMode;
    border-right-color: $monokaiGreenLightMode;
    border-top-color: $monokaiYellowLightMode;
}

.outrun-theme footer {
    background-color: $outrunDarkPurple;
    border-left-color: $outrunOrange;
    border-bottom-color: $outrunPink;
    border-right-color: $outrunPurple;
    border-top-color: $outrunOrange;
}

.black-white-theme footer {
    background-color: $lightColor;
    border-color: $blackWhiteGray;
}

// // subscribe form and description div can be full width
// footer div div:nth-child(1) {
//     width: 100%;
//     padding-bottom: 1rem;
// }

// buy me a coffee div
footer div div:nth-child(1) {
    text-align: center;
    margin-bottom: 1rem;
    flex: 0 50%;
}

// web monotization div
footer div div:nth-child(2) {
    text-align: center;
    margin-bottom: 1rem;
    flex: 0 50%;
}

// copywrite div
footer div div:nth-child(3) {
    width: 100%;
    text-align: center;
    // margin: 1rem;
    font-size: 0.7rem;
}