.laptop-subscriber {
    z-index: 99999;
    position: fixed;
    left: 10px;
    top: 30%;
    pre {
        font-size: 24px !important;
        line-height: 1 !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: rgba(0,0,0,0.7) !important;
    }
    input,
    button {
        font-family: "Fira Code", monospace;
        font-size: 24px;
        background-color: rgba(0,0,0,0.7) !important;
        color: $lightColor;
        font-weight: bold;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        cursor: pointer;
        text-transform: uppercase;
        display: inline;
        line-height: 1 !important;
        transition: 0.4s;
    }
    button {
        display: block;
        &:hover {
            color: lightcoral;
        }
        &:focus {
            outline: 0;
        }
    }
    input {
        &:hover {
            color: lightgreen;
        }
    }
    &.animated {
        animation: flyInFromTop 3s linear 1 forwards;
    }
}

@keyframes flyInFromTop {
    0% {
        top: -30%;
    }
    100% {
        top: 30%;
    }
}