.linkPreviewWrapper {
    transition: background-color 0.4s;
    & .title {
        font-weight: 900;
    }
}

.dark-theme .linkPreviewWrapper {
    border: 1px solid $lightColor;
    background-color: $offsetDark;
    &:hover {
        background-color: $darkColor;
    }
    & .title, & .description {
        color: $lightColor;
        color: $lightColor;
    }
    & .url {
        color: $monokaiRedDarkMode;
    }
}

.light-theme .linkPreviewWrapper {
    border: 1px solid $darkColor;
    background-color: $offsetLight;
    &:hover {
        background-color: $blackWhiteLightGray;
    }
    & .title, & .description {
        color: $darkColor;
        color: $darkColor;
    }
    & .url {
        color: $monokaiRedLightMode;
    }
}

.outrun-theme .linkPreviewWrapper {
    border: 1px solid $outrunLightPurple;
    background-color: $outrunDarkPurple;
    &:hover {
        background-color: $offsetDark;
    }
    & .title, & .description {
        color: $outrunLightOrange;
        color: $outrunLightOrange;
    }
    & .url {
        color: $outrunPink;
    }
}

.black-white-theme .linkPreviewWrapper {
    border: 1px solid $darkColor;
    background-color: $lightColor;
    &:hover {
        background-color: $blackWhiteLightGray;
    }
    & .title, & .description {
        color: $darkColor;
        color: $darkColor;
    }
    & .url {
        color: $blackWhiteGray;
    }
}

@media only screen and (max-width: $medium) {
    .dark-theme,
    .light-theme {
        .linkPreviewWrapper {
            & .col-right {
                display: none;
            }
            & .description {
                display: none;
            }
        }
    }
}

.linkPreviewWrapper {
    display: flex;
    flex: 0 0 auto;
    padding: 0;
    border-radius: 5px;
    max-height: 160px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    & > h3 {
        margin: 0;
    }
    & .col-left {
        display: flex;
        flex: 1 1 auto;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        box-sizing: inherit;
        & .text-container {
            font-size: 15px;
            & > p {
                margin: 0;
                padding: 0;
            }
        }
    }
    & .col-right {
        display: block;
        width: 160px;
        height: 160px;
        min-width: 160px;
        min-height: 160px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
