// universal nav styles
.nav {
    transition: all 0.4s !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    a {
        font-weight: 900;
    }
}

.dark-theme .nav {
    background-color: $darkColor;
    border-left-color: $monokaiRedDarkMode;
    border-bottom-color: $monokaiBlueDarkMode;
    border-right-color: $monokaiYellowDarkMode;
    border-top-color: $monokaiGreenDarkMode;
}

.light-theme .nav {
    background-color: $lightColor;
    border-left-color: $monokaiRedLightMode;
    border-bottom-color: $monokaiBlueDarkMode;
    border-right-color: $monokaiYellowDarkMode;
    border-top-color: $monokaiGreenDarkMode;
}

.outrun-theme .nav {
    background-color: $outrunDarkPurple;
    border-left-color: $outrunOrange;
    border-bottom-color: $outrunPink;
    border-right-color: $outrunPurple;
    border-top-color: $outrunOrange;
}

.black-white-theme .nav {
    background-color: $lightColor;
    border-color: $blackWhiteGray;
}

.nav-large {
    height: $navHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 100;
    border: $borderThickness dashed;
    box-sizing: border-box;
    & > a,
    & > div {
        padding: 1rem;
    }
}

.dark-theme .nav-large {
    background-color: $darkColor;
    border-left-color: $monokaiRedDarkMode;
    border-bottom-color: $monokaiBlueDarkMode;
    border-right-color: $monokaiYellowDarkMode;
    border-top-color: $monokaiGreenDarkMode;

    .tiny {
        color: $monokaiRedDarkMode;
    }

    a:nth-child(2) {
        color: $monokaiRedDarkMode;
    }

    a:nth-child(3) {
        color: $monokaiYellowDarkMode;
    }

    a:nth-child(4) {
        color: $monokaiBlueDarkMode;
    }
}

.light-theme .nav-large {
    .tiny {
        color: $monokaiRedLightMode;
    }
}

.dark-theme .nav-large {
    .tiny {
        color: $monokaiRedDarkMode;
    }
}

.nav-medium {
    width: $navWidthMedium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 100;
    padding: 0.5rem;
    border: $borderThickness dashed;
    box-sizing: border-box;

    a, h3 {
        font-weight: 900;
        font-size: 0.8rem;
    }
    a:not(:first-child) {
        transform: rotate(270deg) translate(1rem);
    }
}


.nav-small {
    width: $navWidthSmall;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 100;
    padding: 0.5rem;
    border: $borderThickness dashed;
    box-sizing: border-box;

    a, h3 {
        font-weight: 900;
        font-size: 0.8rem;
    }
    a {
        transform: rotate(270deg) translate(-0.5rem);
    }
    span.emoji {
        cursor: pointer;
        font-size: 0.7rem;
        margin-right: 0.2rem;
    }
}

// special styles 
.tiny {
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin: 0 auto;
    font-weight: bold;
}

// everything below extra large screens (width less than 1400px)
@media only screen and (max-width: $extraLarge) {
    .tiny {
        display: none;
    }
}