.dark-theme .signature {
    g {
        stroke: $lightColor;
    }
}

.light-theme .signature {
    g {
        stroke: $darkColor;
    }
}

.outrun-theme .signature {
    g {
        stroke: $outrunOrange;
    }
}

.black-white-theme .signature {
    g {
        stroke: $blackWhiteGray;
    }
}

.signature {
    opacity: 0;
    &.leave-visible {
        opacity: 1;
    }
    height: 4rem;
    .animate {
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation-name: dash;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        &.first {
            animation-delay: 0s;
            animation-duration: 2s;
        }
        &.second {
            animation-delay: 2.5s;
            animation-duration: 2s;
        }
        &.third {
            animation-delay: 3s;
            animation-duration: 2s;
        }
        &.fourth {
            animation-delay: 4.5s;
            animation-duration: 2s;
        }
        &.fifth {
            animation-delay: 6s;
            animation-duration: 2s;
        }
    }
}

// small styles (width less than 600px)
@media only screen and (max-width: $mediumOffset) {
    .signature {
        height: 3rem;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
    }
}
