.linear-wipe {
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    text-align: center;
    animation: shine 2s linear infinite;
}

.dark-theme .linear-wipe {
    color: #000;

    &.fillmonokaipink-fillmonokaiblue {
        background: linear-gradient(
            to right,
            $monokaiPinkDarkMode 0%,
            $monokaiBlueDarkMode 50%,
            $monokaiPinkDarkMode 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.fillmonokaiblue-fillmonokaiyellow {
        background: linear-gradient(
            to right,
            $monokaiBlueDarkMode 0%,
            $monokaiYellowDarkMode 50%,
            $monokaiBlueDarkMode 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.fillmonokaiorange-fillmonokaired {
        background: linear-gradient(
            to right,
            $monokaiRedDarkMode 0%,
            $monokaiOrangeDarkMode 50%,
            $monokaiRedDarkMode 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.light-theme .linear-wipe {
    color: #000;

    &.fillmonokaipink-fillmonokaiblue {
        background: linear-gradient(
            to right,
            $monokaiPinkLightMode 0%,
            $monokaiBlueLightMode 50%,
            $monokaiPinkLightMode 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.fillmonokaiblue-fillmonokaiyellow {
        background: linear-gradient(
            to right,
            $monokaiBlueLightMode 0%,
            $monokaiYellowLightMode 50%,
            $monokaiBlueLightMode 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.fillmonokaiorange-fillmonokaired {
        background: linear-gradient(
            to right,
            $monokaiRedLightMode 0%,
            $monokaiOrangeLightMode 50%,
            $monokaiRedLightMode 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.outrun-theme .linear-wipe {
    color: #000;

    &.filloutrunorange-filloutrunpink {
        background: linear-gradient(
            to right,
            $outrunOrange 0%,
            $outrunPink 50%,
            $outrunOrange 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.filloutrunpink-filloutrunpurple {
        background: linear-gradient(
            to right,
            $outrunPink 0%,
            $outrunPurple 50%,
            $outrunPink 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.filloutrunorange-filloutrunpink {
        background: linear-gradient(
            to right,
            $outrunOrange 0%,
            $outrunPink 50%,
            $outrunOrange 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.black-white-theme .linear-wipe {
    color: #000;

    &.fillblack-fillgray {
        background: linear-gradient(
            to right,
            $darkColor 0%,
            $blackWhiteGray 50%,
            $darkColor 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.fillwhite-fillgray {
        background: linear-gradient(
            to right,
            $lightColor 0%,
            $blackWhiteGray 50%,
            $lightColor 100%
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}