.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    padding: 0.3rem;
    margin: 0.2rem;
    border-radius: 5px;
    font-weight: 900;
    font-size: 0.8rem;
    transition: 0.4s !important;
    border: 2px solid;
}

.dark-theme a.tag {
    color: $darkColor;
}