.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
    max-width: 1200px;
}

.tag-container-small {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.blog-tag {
    padding: 0.3rem;
    margin: 0.2rem;
    border-radius: 5px;
    font-weight: 900;
    font-size: 0.8rem;
    transition: 0.4s !important;
    border: 2px solid;
}
.blog-tag-small {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.2rem;
    margin: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 5px;
    transition: 0.4s !important;
    border: 2px solid;
}

// small screens, make tags a bit bigger so google search console doesn't complain
// small styles (width less than 600px)
// @media only screen and (max-width: $mediumOffset) {
//     .blog-tag-small {
//         margin: 0.5rem;
//         // padding: 0.2rem;
//         &:first-child {
//             margin-left: 0.5rem;
//         }
//         // display: none;
//     }
// }

.dark-theme a.tag {
    color: $darkColor;
}