.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-avatar-container {
    align-self: center;
    padding-top: 3rem;
        padding-bottom: 3rem;
}

.title-avatar-picture {
    display: block;
    border-radius: 150px;
    width: 300px;
    height: 300px;
}

@media only screen and (max-width: $mediumOffset) {
    .title-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .title-avatar-picture {
        max-width: 250px;
        max-height: 250px;
    }
}
