.latest-post-container {
    flex: 100%;
    background: #272a2a;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 0.25rem;
    margin: 2rem;
    border-radius: 50px;
    transition: .4s ease-in-out;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 10px 10px rgba(70,70,70,.2); 
        cursor: pointer;
    }
}

.top-post-container {
    flex-basis: 33.3333333%;
    background: #272a2a;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 0.25rem;
    margin: 1rem;
    border-radius: 50px;
    transition: .4s ease-in-out;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 10px 10px rgba(70,70,70,.2); 
        cursor: pointer;
    }
}

@media only screen and (max-width: $mediumOffset) {
    .latest-post-container, .top-post-container {
        padding: 1rem;
        padding-top: 0.25rem;
        margin: 0;
        margin-bottom: 1rem;
    }
    .top-post-container {
        flex-basis: 100%;
    }
}


