$extralarge: 1500px;
$large: 1280px;
$largeOffset: $large - 1px;
$medium: 840px;
$mediumOffset: $medium - 1px;

$navHeight: 5rem;
$navWidthMedium: 4rem;
$navWidthSmall: 1.5rem;

$borderThickness: 5px;