.switch-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
}

.switch-text {
  display: block;
  flex-basis: 100%;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.emoji-fix {
  margin-right: 3px;
}

.switch {
  position: relative;
  text-align: center;
  display: inline-block;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 50px;
  transform: translateX(25px);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 27px;
}

.slider.round:before {
  border-radius: 50%;
}

@font-face {
  font-family: "Nunito Sans", sans;
  src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap);
  font-display: swap;
}
@font-face {
  font-family: "Fira Code", monospace;
  src: url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap);
  font-display: swap;
}
html,
body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  transition: color 1s;
  transition: background-color 1s;
}
html .dark-mode,
body .dark-mode {
  background-color: #000000;
  color: white;
}
html .dark-mode blockquote,
body .dark-mode blockquote {
  color: white;
  border-left: 4px solid rgba(255, 255, 255, 0.5);
}
html .light-mode,
body .light-mode {
  background-color: white;
  color: #000000;
}
html .light-mode blockquote,
body .light-mode blockquote {
  color: #000000;
  border-left: 4px solid rgba(0, 0, 0, 0.5);
}

h1 {
  border-bottom: none;
}

header {
  z-index: 20;
  position: relative;
}

footer {
  margin-top: 6rem;
  position: relative;
  z-index: 10;
}

main {
  position: relative;
  z-index: 10;
}

a {
  color: #f92672;
  z-index: 10;
}

label {
  z-index: 10;
}

input {
  z-index: 10;
}

blockquote {
  font-style: italic !important;
}

pre, code {
  font-family: "Fira Code", monospace !important;
  font-size: 0.7rem !important;
  line-height: 1rem;
  border: none !important;
  padding: 0.3rem !important;
}

.bio-lead {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-weight: bold;
}

.twentytwenty-fun {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 26rem;
  font-size: 0.75rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  animation: hover 2s ease-in-out infinite alternate;
  line-height: 0.75rem;
  text-align: center;
}

.pagination {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
  font-family: "Courier";
  font-size: 0.75rem;
  list-style-type: none;
}
.pagination a {
  text-decoration: none;
  display: block;
  max-width: 3rem;
  min-width: 3rem;
  text-align: center;
  border: 1px solid #f92672;
  padding: 0.25rem;
  margin: 0.25rem;
  transition: color 0.5s;
  transition: background-color 0.5s;
}
.pagination a:hover {
  text-decoration: none;
  background-color: #f92672;
  color: white;
}
.pagination button {
  text-decoration: none;
  display: block;
  max-width: 3rem;
  min-width: 3rem;
  text-align: center;
  border: 1px solid #f92672;
  padding: 0.25rem;
  margin: 0.25rem;
  transition: color 0.5s;
  transition: background-color 0.5s;
  background-color: #f92672;
  color: white;
}

@media only screen and (max-width: 720px) {
  .twentytwenty-fun {
    display: table;
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
  }

  .pagination a {
    flex-basis: 33.33%;
  }

  .pagination a:last-child {
    flex-grow: 0;
  }
}
@keyframes hover {
  from {
    transform: translateY(-10%);
    transform: translateX(-10%);
    transform: rotate(0deg);
  }
  to {
    transform: translateY(10%);
    transform: translateX(10%);
    transform: rotate(30deg);
  }
}

/*# sourceMappingURL=global.css.map */
