$darkColor: #191919 !default;
$lightColor: white !default;
$monokaiRedDarkMode: #f92672 !default;
$monokaiRedLightMode: #e70457 !default;

// general styles
#mc_embed_signup {
    & form {
        margin: 0;
    }
    & input {
        width: 100%;
        border-radius: 5px;
        margin: 2px;
    }
    & input[type=submit] {
        cursor: pointer;
        border: none;
        transition: background-color 0.4s, color 0.4s;
    }
    & .label {
        display: block;
        font-weight: 900;
        text-align: center;
    }
}

// accessibility compatible color styles
html,
body {
    &.dark-mode {
        #mc_embed_signup {
            & input[type=submit] {
                color: $darkColor;
                background-color: $monokaiRedDarkMode;
                &:hover {
                    color: $monokaiRedLightMode;
                    background-color: $lightColor;
                }
            }
            & .label {
                text-align: center;
                color: $monokaiRedDarkMode;
            }
        }
    }
    &.light-mode {
        #mc_embed_signup {
            & input[type=submit] {
                color: $lightColor;
                background-color: $monokaiRedLightMode;
                &:hover {
                    color: $monokaiRedDarkMode;
                    background-color: $darkColor;
                }
            }
            & .label {
                text-align: center;
                color: $monokaiRedLightMode;
            }
        }
    }
}