$darkColor: #000000 !default;
$lightColor: white !default;
$monokaiRedDarkMode: #f92672 !default;
$monokaiRedLightMode: #e70457 !default;

.highlight {
    animation: highlightAndFade 2s 1;
}

@keyframes highlightAndFade {
    from {
        background-color: $monokaiRedDarkMode;
    }
    to {
        background-color: $darkColor;
    }
}