$monokaiRedDarkMode: #f92672 !default;
$monokaiRedLightMode: #e70457 !default;
$lightColor: #ffffff !default;
$darkColor: #191919 !default;

// anything style involving monokai color needs to be theme depended due to WCAG contrast standards
.dark-mode {
  .pagination {
    a {
      border: 1px solid $monokaiRedDarkMode;
    }
    a:hover {
      background-color: $monokaiRedDarkMode;
    }
    button {
      border: 1px solid $monokaiRedDarkMode;
      background-color: $monokaiRedDarkMode;
    }
  }
}

.light-mode {
  .pagination {
    a {
      border: 1px solid $monokaiRedLightMode;
    }
    a:hover {
      background-color: $monokaiRedLightMode;
    }
    button {
      border: 1px solid $monokaiRedLightMode;
      background-color: $monokaiRedLightMode;
    }
  }
}

.pagination {
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    font-family: "Courier";
    font-size: 0.75rem;
    list-style-type: none;
    a {
      text-decoration: none;
      display: block;
      max-width: 3rem;
      min-width: 3rem;
      text-align: center;
      padding: 0.25rem;
      margin: 0.25rem;
      transition: color 0.5s;
      transition: background-color 0.5s;
    }
    a:hover {
      text-decoration: none;
      color: $darkColor;
    }
    button {
      color: $darkColor;
      text-decoration: none;
      display: block;
      max-width: 3rem;
      min-width: 3rem;
      text-align: center;
      padding: 0.25rem;
      margin: 0.25rem;
      transition: color 0.5s;
      transition: background-color 0.5s;
    }
  }