$darkColor: #000000;
$lightColor: white;
$monokaiRedDarkMode: #f92672;
$monokaiRedLightMode: #e70457;
$monokaiGreen: #27DEA7;
$monokaiBlue: #62D3E9;

// yes these are seemingly 'backwards, but think about what the switcher shows up as :)
@use 'switcher'with ($lightModeActiveColor: $darkColor,
    $darkModeActiveColor: $lightColor);

@use 'pagination'with ($monokaiRedDarkMode: $monokaiRedDarkMode,
    $monokaiRedLightMode: $monokaiRedLightMode);

@use 'footnotes'with ($darkColor: $darkColor,
    $lightColor: $lightColor,
    $monokaiRedDarkMode: $monokaiRedDarkMode,
    $monokaiRedLightMode: $monokaiRedLightMode);

@use 'email_form'with ($darkColor: $darkColor,
    $lightColor: $lightColor,
    $monokaiRedDarkMode: $monokaiRedDarkMode,
    $monokaiRedLightMode: $monokaiRedLightMode);

@font-face {
    font-family: "Nunito Sans", sans;
    src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap);
    font-display: swap;
}

@font-face {
    font-family: "Fira Code", monospace;
    src: url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap);
    font-display: swap;
}

html,
body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    transition: all 0.4s !important;
    &.dark-mode {
        background-color: $darkColor;
        color: $lightColor;

        blockquote {
            color: $lightColor;
            border-left: 4px solid rgba(255, 255, 255, 0.5);
        }

        a {
            color: $monokaiRedDarkMode;
            z-index: 10;
        }

        // make those prism styles WCAG compliant!
        span.token.delimiter.important {
            color: #f25a92 !important;
        }

        span.token.keyword {
            color: #f25a92 !important;
        }

        span.token.comment {
            color: #92927c !important;
        }

        .monokaiRedFont {
            color: $monokaiRedDarkMode;
        }
        .switcherFont {
            color: $lightColor;
        }

        table, th, td {
            border: 1px solid $lightColor;
        }

    }

    &.light-mode {
        background-color: $lightColor;
        color: $darkColor;

        blockquote {
            color: $darkColor;
            border-left: 4px solid rgba(0, 0, 0, 0.5);
        }

        a {
            color: $monokaiRedLightMode;
            z-index: 10;
        }

        span.token.delimiter.important {
            font-weight: bold !important;
        }

        .monokaiRedFont {
            color: $monokaiRedLightMode;
        }
        .switcherFont {
            color: $darkColor;
        }

        table, th, td {
            border: 1px solid $darkColor;
        }
    }
}

h1,
h2 {
    border-bottom: none;
}

header {
    z-index: 20;
    position: relative;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    position: relative;
    z-index: 10;
    font-size: 0.75rem;
    font-weight: bold;
}

footer > div {
    flex: 0 50%;
}

footer > :nth-child(1) > span {
    margin-bottom: 1rem;
}

footer > :nth-child(2) {
    float: right;

    & > span {
        float: right;
    }

    & > img {
        float: right;
        margin-right: 2rem;
    }
}

footer > :nth-child(3) {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

main {
    position: relative;
    z-index: 10;
}

label {
    z-index: 10;
}

input {
    z-index: 10;
}

blockquote {
    font-style: italic !important;
}

th, strong {
    font-weight: 900 !important;
}

pre,
code {
    font-family: "Fira Code", monospace !important;
    font-weight: bold !important;
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    border: none !important;
    padding: 0.3rem !important;
    transition: 0.4s !important;
}

th:first-child, td:first-child {
    padding-left: 1rem;
}

// prism overrides
pre[class*="language-"]:before {
    display: none !important;
}

pre[class*="language-"]:after {
    display: none !important;
}

pre[class*="language-"] > code {
    box-shadow: none !important;
}

// more classes...
.bio-lead {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    font-weight: bold;
}

.twentytwenty-fun {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 26rem;
    font-size: 0.75rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    animation: hover 2s ease-in-out infinite alternate;
    line-height: 0.75rem;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    // two left and write flex divs should go to full width in the footer in widths less than 720px
    footer > div {
        flex: 0 0 100%;
        font-size: 0.6rem;
        text-align: center;
    }

    footer > :nth-child(2) {
        float: none;
        margin-top: 2rem;

        & > span {
            float: none;
        }

        & > img {
            float: none;
            margin-right: 0;
        }
    }

    .twentytwenty-fun {
        display: table;
        position: relative;
        top: auto;
        left: auto;
        margin: 0 auto;
    }

    .pagination a {
        flex-basis: 33.33%;
    }

    .pagination a:last-child {
        flex-grow: 0;
    }
}

html,
body {
    &.dark-mode {
        .gatsby-code-button {
            color: $lightColor;
            // margin-bottom: -20px;
            // margin-right: 10px;

            &:hover {
                background-color: none;
                .gatsby-code-button-icon {
                    fill: $monokaiRedDarkMode;
                }
            }

            &::after {
                background-color: transparent;
            }

            .gatsby-code-button-icon {
                fill: $lightColor;
            }
        }
    }
    &.light-mode {
        .gatsby-code-button {
            color: $darkColor;
            // margin-bottom: -20px;
            // margin-right: 10px;

            &:hover {
                .gatsby-code-button-icon {
                    fill: $monokaiRedLightMode;
                }
            }

            &::after {
                background-color: transparent;
            }

            .gatsby-code-button-icon {
                fill: $darkColor;
            }
        }
    }
}

@keyframes hover {
    from {
        transform: translateY(-10%);
        transform: translateX(-10%);
        transform: rotate(0deg);
    }

    to {
        transform: translateY(10%);
        transform: translateX(10%);
        transform: rotate(30deg);
    }
}

.small {
    font-size: 0.75rem;
}

.green-text {
    color: $monokaiGreen;
}

.phrase-of-the-day {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 0.5rem;
}

.monokaiBlueFont {
    color: $monokaiBlue;
}

.code-copy-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: -1rem;
}

button.code-copy-button {
    border: none;
    background: none;
    box-shadow: none;
    text-decoration: none;
    margin-bottom: -0.75rem;
    margin-right: 0rem;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Fira Code", monospace !important;
    font-weight: bold !important;
    font-size: 0.75rem !important;
    z-index: 1;
}