@use 'switcher';
@font-face {
  font-family: "Nunito Sans", sans;
  src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap);
  font-display: swap;
}

$monokaiRed: #f92672;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 1s;
  transition: background-color 1s;

  .dark-mode {
    background-color: #272822;
    color: white;
    blockquote {
      color: white;
      border-left: 4px solid rgba(255, 255, 255, 0.5);
    }
  }

  .light-mode {
    background-color: white;
    color: #272822;
    blockquote {
      color: #272822;
      border-left: 4px solid rgba(0, 0, 0, 0.5);
    }
  }
}
h1 {
  border-bottom: none;
}
header {
  z-index: 20;
  position: relative;
}
footer {
  margin-top: 6rem;
  position: relative;
  z-index: 10;
}
main {
  position: relative;
  z-index: 10;
}
a {
  color: $monokaiRed;
  z-index: 10;
}
label {
  z-index: 10;
}
input {
  z-index: 10;
}
blockquote {
  font-style: italic !important;
}

.bio-lead {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-weight: bold;
}

.twentytwenty-fun {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 26rem;
  font-size: 0.75rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  animation: hover 2s ease-in-out infinite alternate;
  line-height: 0.75rem;
  text-align: center;
}

.pagination {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
  font-family: "Courier";
  font-size: 0.75rem;
  list-style-type: none;
  a {
    text-decoration: none;
    display: block;
    max-width: 3rem;
    min-width: 3rem;
    text-align: center;
    border: 1px solid $monokaiRed;
    padding: 0.25rem;
    margin: 0.25rem;
    transition: color 0.5s;
    transition: background-color 0.5s;
  }
  a:hover {
    text-decoration: none;
    background-color: $monokaiRed;
    color: white;
  }
  button {
    text-decoration: none;
    display: block;
    max-width: 3rem;
    min-width: 3rem;
    text-align: center;
    border: 1px solid $monokaiRed;
    padding: 0.25rem;
    margin: 0.25rem;
    transition: color 0.5s;
    transition: background-color 0.5s;
    background-color: $monokaiRed;
    color: white;
  }
}

@media only screen and (max-width: 720px) {
  .twentytwenty-fun {
    display: table;
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
  }
  .pagination a {
    flex-basis: 33.33%;
  }
  .pagination a:last-child {
    flex-grow: 0;
  }
}
@keyframes hover {
  from {
    transform: translateY(-10%);
    transform: translateX(-10%);
    transform: rotate(0deg);
  }
  to {
    transform: translateY(10%);
    transform: translateX(10%);
    transform: rotate(30deg);
  }
}
