.switch-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
}

.switch-text {
  display: block;
  flex-basis: 100%;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.emoji-fix {
  margin-right: 3px;
}

$width: 50px;
$secondarySize: 27px;
$lightModeActiveColor: black;
$darkModeActiveColor: white;

.switch {
  position: relative;
  text-align: center;
  display: inline-block;
  height: $secondarySize;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: $width;
  transform: translateX(25px);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darkModeActiveColor;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: $lightModeActiveColor;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $lightModeActiveColor;
}
input:checked + .slider:before {
  background-color: $darkModeActiveColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px $lightModeActiveColor;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: $secondarySize;
}

.slider.round:before {
  border-radius: 50%;
}
